@media only screen and (max-width: 1400px) {

}


/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
    .body-wrapper {
        width: 60%;
    }

    .contact-heading,
    .project-heading {
        margin-top: 2rem;
    }

    .landing-page_heading {
        left: 23%;
        top: 15%;
    }

    .project-text-wrap {
        width: 60%;
    }

    .row {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .skills, .skills2 {
        margin-left: 10%;
        margin-right: 10%;
    }

    #contact-info {
        height: 68vh;
    }

    .contact-info_table {
        margin-top: 8rem;
        font-size: 150%;
    }

    .footer-nav-wrap {
        padding-top: .5rem;
    }
}

/* Small tablet to big tablet (768px to 1023px) */
@media only screen and (max-width: 1023px) {
    
    ul {-webkit-padding-start: 0;padding-inline-start: 0;}

    .body-wrapper {
        width: 80%;
    }

    .small-heading {
        font-size: 129%;
    }

    .footer-nav li:first-child {
        margin-left: 0;
    }

    .project-text-wrap {
        width: 80%;
    }

    .row {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .skills, .skills2 {
        margin-left: 5%;
        margin-right: 5%;
    }

    .landing-page_heading {
        left: 20%;
        top: 22%;
    }

    .landing-page_heading h1 {
        font-size: 300%;
    }
    
    .landing-page_heading p {
        font-size: 110%;
        margin-top: 8%;
    }

    .main-nav li {
        margin-left: 25px;
    }

    #contact-info {
        height: 60vh;
    }
}

@media only screen and (max-width: 767px) {
    .contact-info_table {
        font-size: 115%;
    }
}

/* Larger phones: from 376 to 480px */
@media only screen and (max-width: 480px) {
    .row {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .circle-image {
        height: 60px;
        width: 60px;
        margin-top: 1rem;
    }

    .main-nav {
        float: right;
        list-style: none;
        margin-top: 45px;
    }

    .main-nav li {
        font-size: 80%;
    }

    .landing-page_heading {
        left: 0;
        position: relative;
        text-align: center;
        top: 15%; /*review after live view*/
        
    }

    .landing-page_heading h1 {
        text-align: center;
    }

    .landing-page_heading p {
        margin-top: 2%;
    }

    .skills {
        flex-direction: column;
        justify-content: center;
    }

    .tech-logo {
        display: none;
    }

    .small-heading {
        margin-bottom: 1rem;
    }

    .uis {
        padding-right: 0
    }

    .data {
        padding-left: 0;
    }

    .uis-text,
    .data-text {
        text-align: center;
    }

    .body-text {
        margin-bottom: 1rem;
    }

    .btn {
        margin-top: 3rem;
    }

    .footer-nav {
        margin-top: 4.25%;
    }

    .footer-nav-wrap {
        padding: 0 1rem;
    }

    .footer-nav li {
        margin-right: 3%;
        font-size: 75%;
    }

    .social-links {
        padding-top: .5rem;
    }

    .social-links li {
        font-size: 80%;
        margin-left: 6%;
    }

    .social-links li:first-child {
        margin-left: 15%;
    }

    .created-by {
        padding-top: 1rem;
        font-size: 65%
    }

    .project-picture {
        border-radius: 30px;
        height: auto;
        width: 20rem;
    }

    .project-heading,
    .contact-heading {
        position: relative;
        text-align: center;
        font-size: 200%;
        padding-top: 3rem;
    }

    #contact-info {
        padding: 12% 4%;
        height: 50vh;
    }

    .contact-info_table {
        margin-top: 6rem;
        font-size: 90%;
    }

}

/* Smaller phones: from 376 to 480px */
@media only screen and (max-width: 375px) {
    .main-nav li {
        margin-left: 15px;
    }

    #footer {
        height: 10%;
    }

    .footer-nav a {
        font-size: 90%;
    }

    .footer-nav li {
        padding-top: 2%;
    }

    .footer-nav li:first-child {
        margin-left: 0;
    }

    .social-links li:first-child {
        margin-left: 3%;
    }

    .contact-info_table {
        margin-top: 5rem;
        font-size: 70%;
    }

    .created-by {
        font-size: 70%;
    }
}