/***********************************GENERAL**********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

section {
    padding: 80px 0;
}

div {
    margin: 0;
    padding: 1.5%;
}

h1 {
    margin-top: 0;
}

a {
    color: #40514e;
}

/***********************************REUSABLE**********************************/

.big-heading {
    color: #11999e;
    font-size: 300%;
    font-weight: 400;
}

.border {
    border: 1px solid #11999e;
}

.box {
    padding: 1%;
}

.body-text {
    color: #40514e;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    letter-spacing: 1px;
    line-height: 30px;
    word-spacing: 2px;
}

.body-wrapper {
    height: auto;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
}

.btn {
    background-color: #11999e;
    border: 1px solid #11999e;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 125%;
    height: 3rem; width: 12rem;
    margin: 8% auto;
    padding: 0.7rem 0 0.5rem;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.btn:hover,
.btn:active {
    color: #11999e;
    background-color: #fff;
    transition: background-color 0.2s, color 0.2s;
}

.btn-white {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #11999e;
    display: block;
    font-size: 125%;
    height: 3rem; width: 12rem;
    margin: 8% auto;
    padding: 0.7rem 0 0.5rem;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.btn-white:hover,
.btn-white:active {
    color: #fff;
    background-color: #11999e;
    transition: background-color 0.2s, color 0.2s;
}

.circle-image {
    border-radius: 50%;
    height: 80px;
    width: 80px
}

.circle-image_large {
    border-radius: 50%;
    height: 115px;
    margin-bottom: 2%;
    width: 115px;
}

.image {
    height: 10rem;
    margin-bottom: 1%;
    width: auto;
}

.link-text {
    color: #11999e;
}

.row {
    margin: 0 auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.small-heading {
    color: #11999e;
    display: block;
    font-size: 150%;
    margin-bottom: .75rem;
    width: 775px;
}

.subpage-nav {
    background-image: url(../images/background2.png);
    background-position: center;
    background-color: #e4f9f5;
    background-size: cover;
    height: 20rem;
    margin-top: 0;
    padding: 0;
}

.white-text {
    color: #fff;
}

/********************************LANDING PAGE*******************************/
#landing-page {
    background-image: url(../images/background2.png);
    background-position: center;
    background-color: #e4f9f5;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
    padding: 0;
}

.landing-page_heading {
    color: #40514e;
    left: 26%;
    position: absolute;
    top: 18%;
}

.landing-page_heading h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 350%;
    font-weight: 700;
    margin-bottom: 0;
}

.landing-page_heading p {
    font-size: 120%;
    font-weight: 600;
    margin-top: 10%;
    text-align: center;
}

/*********nav bar**********/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    color: #40514e;
    padding: 8px 0;
    text-decoration: none;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #11999e;

}


/********************************ABOUT ME*******************************/

#about-me {
    padding: 4% 4% 1%;
    text-align: center;
}

.intro {
    display: inline-block;
    text-align: center;
}

.intro-text h3 {
    color: #11999e;
    font-size: 150%;
}

.skills {
    display: flex;
    flex-direction: row;
    margin-left: 17%;
    margin-right: 17%;
}

.skills-graphics {
    display: flex;
    flex-grow: 1;
}

.skills-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.tech-logo {
    height: 110px;
    width: 110px;
}

/********************************CONTACT*******************************/

#contact {
    padding: 0 4%;
    text-align: center;
}

.mail {
    margin-right: 0.5rem;
}

#contact-info {
    padding: 8% 4%;
    text-align: center; 
}

.contact-heading {
    color: #40514e;
    position: relative;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
    font-weight: 700;
    text-align: center;
}

.contact-info_wrapper {
    text-align: center;
}

.contact-info_table {
    color: #40514e;
    font-family: 'Merriweather', serif;
    font-size: 125%;
    letter-spacing: 1px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    word-spacing: 2px;
}

.contact-info_table a {
    text-decoration: none;
}

.right-cell {
    padding-left: 1rem;
}

/********************************PROJECTS*******************************/

#projects {
    padding: 0;
    text-align: center;
}

.project-intro {
    padding: 7% 0;
}

.project {
    text-align: center;
    padding: 10% 5%  5%;
}

.project-heading {
    color: #40514e;
    position: relative;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
    font-weight: 700;
    text-align: center;
}

.project-white {
    background-color: #fff;
}

.project-color {
    background-color: #11999e;
}

.project-picture {
    border-radius: 30px;
    height: auto;
    width: 40rem;
}

.project-text-wrap {
    height: auto;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: center;
    width: 40%;
}


/********************************FOOTER*******************************/
#footer {
    background-color: #e4f9f5;
    height: 20%;
    width: 100%;
}

footer a {
    text-decoration: none;
}

.footer-nav-wrap {
    display: flex;
    flex-direction: row;
}

.footer-nav {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin-top: 2.25%;
}

.footer-nav li {
    margin-right: 7%;
}

.footer-nav li:first-child {
    margin-left: 3%;
}

.social-links {
    display: flex;
    flex-grow: 1;
    font-size: 150%;
    list-style: none;
    margin-top: 2.25%;
}

.social-links li {
    margin-right: 4%;
}

.social-links li:first-child {
    margin-left: 73%;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #40514e;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #11999e;
}

.github,
.linkedin,
.twitter,
.footer-mail {
    transition: color 0.2s;
}

.github:hover,
.linkedin:hover,
.twitter:hover,
.footer-mail:hover {
    color: #11999e;
}

.created-by {
    color: #40514e;
    display: block;
    font-size: 80%;
    margin-top: 2.25%;
    margin-bottom: 0;
    padding: 0 0 2.25% 0;
    text-align: center;
}
